body{
  font-family: arial, sans-serif;
}

/* Styles For Top Nav */
#top-nav {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0;
  width: 100%;
}

#top-nav li, a {
  padding-left: 15px;
  color: black;
  opacity: 0.75;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

#top-nav a:hover {
  text-decoration: underline;
}

#top-nav-left{
  float: left;
}

#top-nav-right{
  float: right;
  padding: 0 30px 0 0;
}

/* Styles For Main Area */
.main {
  text-align: center;
  font-family: arial, sans-serif;
}

.logo-area {
  height: 233px;
}

#hplogo {
  padding-top: 109px;
  /* NEEDS CENTERING- slightly to left at the moment after addting padding to nav */
}

.search {
  text-align: center;
}

.search-box {  
  display: inline-block;
  height: 46px;
  width: 584px;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 100px;
  overflow: hidden;
}

.search-box:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-box input {
  width: 487px;
  height: 34px;
  border: none;
  outline: none;
  font-size: 16px;
  /* padding needed */
}

.search-buttons {
  padding-top: 18px;
}

.search-buttons input:hover {
  border: 1px solid rgba(128,128,128,0.25);
  box-shadow: 0 1px 2px rgba(128,128,128,0.25);
}

.search-buttons input {
  height: 34px;
  color: #222;
  background-color: rgb(242,242,242);
  border: solid 1px;
  border-color: rgb(242,242,242);
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  margin: 11px 4px;
  color: rgb(95,99,104);
  font-size: 14px;
}

/* Styles For Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(242,242,242);
  color: rgb(95,99,104);
  text-align: center;
  border-top: 1px solid rgba(128,128,128,0.25);
}

#footer-left{
  float: left;
}

#footer-right{
  float: right;
  padding: 0 30px;
}

.footer a {
  padding-left: 27px;
  display: inline-block;
  font-size: 14px;
}